Repository googleapis/java-bigquery, pull requests merged in 2021-12, with the labels that each got.

#1723 feat: add support for BI Engine Statistics
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BiEngineReason.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BiEngineStats.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/JobStatistics.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/JobStatisticsTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: cla: yes, api: bigquery, automerge

#1743 chore: make owlbot check required
  .github/sync-repo-settings.yaml
Labels: api: bigquery, automerge

#1749 chore: update README to add missing closing tag
  README.md
  samples/snippets/pom.xml
Labels: api: bigquery, automerge

#1751 chore: import datacatalog BOM to avoid renovate-bot issues
  google-cloud-bigquery/pom.xml
  pom.xml
Labels: api: bigquery

#1753 docs(samples): update UpdateTableExpirationIT to fix failing IT.
  samples/snippets/src/test/java/com/example/bigquery/UpdateTableExpirationIT.java
Labels: api: bigquery, samples

#1754 docs: rename alter materialized view to update
  README.md
  samples/snippets/src/main/java/com/example/bigquery/UpdateMaterializedView.java
  samples/snippets/src/test/java/com/example/bigquery/UpdateMaterializedViewIT.java
Labels: api: bigquery, automerge

#1756 chore: add enumeration type of library
  .repo-metadata.json
Labels: api: bigquery, automerge
