Repository googleapis/java-bigquery, pull requests merged in 2022-04, with the labels that each got.

#1962 chore: make policy tag setup use unique display names
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery

#1976 chore: fix nightly samples check
  .kokoro/continuous/java11-samples.cfg
  .kokoro/continuous/java8-samples.cfg
  .kokoro/nightly/java11-samples.cfg
  .kokoro/nightly/java8-samples.cfg
  .kokoro/presubmit/java11-samples.cfg
  .kokoro/presubmit/java8-samples.cfg
  .kokoro/presubmit/samples.cfg
  .kokoro/run_samples_resource_cleanup.sh
  .kokoro/run_samples_tests.sh
  owlbot.py
Labels: api: bigquery, samples, size: l

#1996 feat: next release from main branch is 2.10.9
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigquery, size: s

#1997 ci: configure the protected branch
  .github/workflows/ci.yaml
Labels: api: bigquery, automerge, size: m

#2010 docs(sample): remove unused dependency and add setup instructions
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
Labels: api: bigquery, samples, size: s

#2012 chore: IT clean-up
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: xs
