Repository googleapis/java-bigquery, pull requests merged in 2022-07, with the labels that each got.

#2147 chore: mark native image checks as required
  .github/sync-repo-settings.yaml
Labels: api: bigquery, size: xs

#2106 fix: Add query dryRun logic to get the schema when null schema is returned from the backend
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
Labels: api: bigquery, size: m

#2166 feat: Add decimal target type
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/LoadConfiguration.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/WriteChannelConfiguration.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/WriteChannelConfigurationTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: m

#2165 fix(java): make field accessible to address Java 17 issue with arrow
  .kokoro/build.sh
  google-cloud-bigquery/pom.xml
Labels: api: bigquery, size: s
