Repository googleapis/java-bigquery, pull requests merged in 2022-05, with the labels that each got.

#2018 fix(java): add native image configuration for Apache Arrow
  google-cloud-bigquery/src/main/resources/META-INF/native-image/com.google.cloud/google-cloud-bigquery/reflect-config.json
  google-cloud-bigquery/src/main/resources/META-INF/native-image/com.google.cloud/google-cloud-bigquery/resource-config.json
Labels: api: bigquery, size: s

#1374 feat: add Connection interface
  .gitignore
  .kokoro/dependencies.sh
  benchmark/README.md
  benchmark/src/main/java/com.google.cloud.bigquery/ConnImplBenchmark.java
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/pom.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/AbstractJdbcResultSet.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryDryRunResult.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryDryRunResultImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryException.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResult.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultStats.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultStatsImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuerySQLException.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Connection.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionSettings.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/JobStatistics.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Parameter.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/QueryJobConfiguration.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ReadClientConnectionConfiguration.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/BigQueryRpc.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpc.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionSettingsTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITNightlyBigQueryTest.java
  pom.xml
Labels: cla: yes, api: bigquery, size: xl

#2024 chore: restructure dependencies for the new features related to bigquerystorage Java client
  google-cloud-bigquery/pom.xml
  pom.xml
Labels: api: bigquery, size: m

#2029 chore(deps): manage arrow version in the parent pom properties
  pom.xml
Labels: api: bigquery, automerge, size: xs

#2032 chore: disable graalvm ITs till #2007 is fixed
  .kokoro/build.sh
  owlbot.py
Labels: api: bigquery, size: s

#2034 fix: fix for flaky connection close issue
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
Labels: api: bigquery, size: m

#2035 chore: Benchmark logic update and clean-up
  benchmark/src/main/java/com.google.cloud.bigquery/ConnImplBenchmark.java
Labels: api: bigquery, size: s

#2038 chore: setup nightly integration tests
  .kokoro/build.sh
  .kokoro/nightly/nightly-integration.cfg
  README.md
Labels: api: bigquery, size: m

#2041 chore: fix nightly integration test
  .kokoro/build.sh
Labels: api: bigquery, automerge, size: xs

#2059 fix: Flaky testPositionalQueryParameters
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: xs

#2063 deps: update dependency com.google.cloud:google-cloud-shared-dependencies to v2.12.0
  pom.xml
Labels: api: bigquery, automerge, size: xs

#2053 fix: add more native image configurations for Arrow tests and enable native image tests
  .kokoro/build.sh
  google-cloud-bigquery/src/main/resources/META-INF/native-image/com.google.cloud/google-cloud-bigquery/reflect-config.json
  owlbot.py
Labels: api: bigquery, size: m

#2069 chore: manage dependency updates from renovate-bot
  README.md
  renovate.json
Labels: api: bigquery, automerge, size: s

#2074 docs(samples): update querypagination sample
  samples/snippets/src/main/java/com/example/bigquery/QueryPagination.java
Labels: api: bigquery, automerge, samples, size: s

#2081 chore: revert "deps: update dependency org.assertj:assertj-core to v3"
  pom.xml
Labels: api: bigquery, size: xs
