Repository googleapis/java-bigquery, pull requests merged in 2022-03, with the labels that each got.

#1909 docs(sample): Added AuthorizeDataset Sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/AuthorizeDataset.java
  samples/snippets/src/test/java/com/example/bigquery/AuthorizeDatasetIT.java
Labels: api: bigquery, samples

#1912 docs(samples): fix undeleteTable sample IT failure
  samples/snippets/src/test/java/com/example/bigquery/UndeleteTableIT.java
Labels: api: bigquery, automerge, samples

#1915 chore: revert nightly integration project
  .kokoro/nightly/integration.cfg
  owlbot.py
Labels: api: bigquery, automerge

#1917 Revert "chore: revert nightly integration project"
  .kokoro/nightly/integration.cfg
  README.md
  owlbot.py
Labels: api: bigquery

#1701 feat: set Table.Schema for permanent external tables
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: cla: yes, api: bigquery, automerge
