Repository googleapis/java-bigquery, pull requests merged in 2022-10, with the labels that each got.

#2322 chore: exclude kokoro dependencies from renovate updates
  renovate.json
Labels: api: bigquery, size: xs

#2346 doc: Add parameter description for datasetListOptions.labelFilter
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java
Labels: api: bigquery, size: xs

#2294 feat: Add executeSelectAsync and Refactor
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Connection.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ExecuteSelectResponse.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: l

#2236 fix: properly handle external table schema on table update
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/BigQueryImplTest.java
Labels: api: bigquery, automerge, size: m

#2374 chore: [java] remove flatten plugin dependency check (#1663)
  .github/.OwlBot.lock.yaml
  .kokoro/requirements.in
  .kokoro/requirements.txt
Labels: api: bigquery, size: s

#2383 deps: Remove duplicated deps in the pom.
  pom.xml
Labels: api: bigquery, size: s
