Repository googleapis/java-bigquery, pull requests merged in 2022-08, with the labels that each got.

#2202 deps: update dependency com.google.apis:google-api-services-bigquery to v2-rev20220716-2.0.0
  README.md
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  pom.xml
  samples/snippets/src/test/java/com/example/bigquery/UpdateModelDescriptionIT.java
Labels: api: bigquery, automerge, size: s

#2239 chore: add set user agent sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/SetUserAgent.java
  samples/snippets/src/test/java/com/example/bigquery/SetUserAgentTest.java
Labels: api: bigquery, samples, size: m

#2222 fix: table-not-found issue with executeSelect while running long queries
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/BigQueryRpc.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpc.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITNightlyBigQueryTest.java
Labels: api: bigquery, size: m

#2238 chore: run modelUpdate tests
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  samples/snippets/src/test/java/com/example/bigquery/UpdateModelDescriptionIT.java
Labels: api: bigquery, size: xs

#2250 chore: change library_type to GAPIC_MANUAL
  .repo-metadata.json
Labels: api: bigquery, size: xs

#2256 chore: add PB methods for preserveAsciiCharaters
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/CsvOptions.java
Labels: api: bigquery, automerge, size: xs
