Repository googleapis/java-bigquery, pull requests merged in 2022-11, with the labels that each got.

#2391 ci: not to check flatten plugin behavior
  .kokoro/dependencies.sh
  owlbot.py
Labels: kokoro:force-run, api: bigquery, size: m

#2350 feat: add getTimestampInstant() method to FieldValue
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/FieldValue.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: s

#2405 feat: next release from main branch is 2.20.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
  README.md
Labels: kokoro:force-run, api: bigquery, size: s

#2406 ci: configure the protected branch
  .github/workflows/ci.yaml
Labels: api: bigquery, size: m
