Repository googleapis/java-bigquery, pull requests merged in 2022-09, with the labels that each got.

#2260 fix: Socket-timeout at bigquery.it.ITNightlyBigQueryTest: testForTableNotFound
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITNightlyBigQueryTest.java
Labels: api: bigquery, size: s

#2263 chore: add setLocation in dataset creation sample
  samples/snippets/src/main/java/com/example/bigquery/CreateDataset.java
Labels: api: bigquery, automerge, samples, size: xs

#2269 feat: add reference file schema option for federated formats
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ExternalTableDefinition.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/LoadJobConfiguration.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: l

#2291 feat: add remote function options to routine metadata
  .kokoro/build.sh
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/pom.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/RemoteFunctionOptions.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Routine.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/RoutineInfo.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/RemoteFunctionOptionsTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/RoutineTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITRemoteUDFTest.java
  pom.xml
Labels: api: bigquery, automerge, size: l
