Repository googleapis/java-bigquery, pull requests merged in 2022-01, with the labels that each got.

#1788 chore: change name to api_shortname in .repo-metadata.json
  .repo-metadata.json
Labels: api: bigquery, automerge, owlbot:ignore

#1795 chore: update release-level in .repo-metadata.json
  .repo-metadata.json
Labels: api: bigquery, automerge, owlbot:ignore

#1799 feat: add JSON type support
  google-cloud-bigquery/pom.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/LegacySQLTypeName.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/QueryParameterValue.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/StandardSQLTypeName.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/QueryParameterValueTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  pom.xml
Labels: api: bigquery, automerge

#1816 docs(samples): fix GrantViewAccess sample IT failure
  samples/snippets/src/main/java/com/example/bigquery/GrantViewAccess.java
  samples/snippets/src/test/java/com/example/bigquery/GrantViewAccessIT.java
Labels: api: bigquery, samples
