Repository googleapis/java-bigquery, pull requests merged in 2023-03, with the labels that each got.

#2549 chore: fix error message
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: size: xs

#2540 doc: Array of Structure Query Code sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/QueryWithArrayOfStructsNamedParameters.java
  samples/snippets/src/test/java/com/example/bigquery/QueryWithArrayOfStructsNamedParametersIT.java
Labels: api: bigquery, samples, size: m

#2555 docs: remove stale snippet comment
  samples/snippets/src/main/java/com/example/bigquery/CreateDatasetAws.java
Labels: api: bigquery, automerge, size: xs

#2535 fix: external table definition parquet format options
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ExternalTableDefinition.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/FormatOptions.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ExternalTableDefinitionTest.java
Labels: api: bigquery, automerge, size: s

#2561 chore: fix error message
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: xs

#2553 feat: add support for clone
  README.md
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/CloneDefinition.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/CopyJobConfiguration.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Table.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableInfo.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/CloneDefinitionTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITRemoteUDFTest.java
Labels: api: bigquery, automerge, size: m

#2563 doc: Creating regional dataset sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/CreateDatasetWithRegionalEndpoint.java
  samples/snippets/src/test/java/com/example/bigquery/CreateDatasetWithRegionalEndpointIT.java
Labels: api: bigquery, samples, size: m

#2568 chore: Create scorecard.yaml
  .github/workflows/scorecard.yml
Labels: api: bigquery, automerge, size: m

#2592 chore: fix code snippet
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/package-info.java
Labels: kokoro:force-run, api: bigquery, size: xs

#2597 chore: fix snippet
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/package-info.java
Labels: api: bigquery, size: s

#2610 fix: QueryWithStructsParameters sample mismatch
  samples/snippets/src/main/java/com/example/bigquery/QueryWithStructsParameters.java
Labels: api: bigquery, samples, size: xs
