Repository googleapis/java-bigquery, pull requests merged in 2023-06, with the labels that each got.

#2689 feat: return JobID with TableResult
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Job.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableResult.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: m

#2764 feat: Increase default Read API timeout to 60s
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryOptions.java
Labels: api: bigquery, size: xs

#2673 feat: Add missing storage related fields to Table, TableInfo and StandardTableDefinition
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/StandardTableDefinition.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Table.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableInfo.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/StandardTableDefinitionTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/TableInfoTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: l
