Repository googleapis/java-bigquery, pull requests merged in 2023-05, with the labels that each got.

#2509 fix: Move ratio calculation for whether to use read API to avoid NPE with setUseReadAPI(false)
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
Labels: api: bigquery, automerge, size: s

#2684 chore(deps): update ghcr.io/graalvm/graalvm-ce docker tag to v22.3.2
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
Labels: api: bigquery, automerge, size: xs

#2697 chore: remove duplicate Query sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/Query.java
  samples/snippets/src/test/java/com/example/bigquery/QueryIT.java
Labels: kokoro:force-run, api: bigquery, automerge, samples, size: m

#2696 fix: custom host for resumable uploads
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpc.java
Labels: api: bigquery, size: s

#2715 feat: add support for session id on TableDataWriteChannel
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/WriteChannelConfiguration.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/WriteChannelConfigurationTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  google-cloud-bigquery/src/test/resources/META-INF/native-image/resource-config.json
  google-cloud-bigquery/src/test/resources/sessionTest.csv
Labels: api: bigquery, size: m
