Repository googleapis/java-bigquery, pull requests merged in 2024-02, with the labels that each got.

#3113 Feat: Update universe domain exception error code/message
  google-cloud-bigquery/pom.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpc.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: s

#3144 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  owlbot.py
  pom.xml
  renovate.json
Labels: api: bigquery, size: s

#3133 feat: add MetadataCacheStatistics to Job QueryStatistics
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/JobStatistics.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/MetadataCacheStats.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableMetadataCacheUsage.java
  google-cloud-bigquery/src/test/java/MetadataCacheStatsTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/JobStatisticsTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/TableMetadataCacheUsageTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: l

#3173 chore: use sdk-platform-java-config instead of java-shared-config
  google-cloud-bigquery-bom/pom.xml
Labels: api: bigquery, size: xs

#3174 chore: next release from main branch is 2.36.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigquery, size: s
