Repository googleapis/java-bigquery, pull requests merged in 2024-10, with the labels that each got.

#3499 feat: add max staleness to ExternalTableDefinition
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ExternalTableDefinition.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ExternalTableDefinitionTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: s

#3516 build: update samples/stylecheck to use java 11 to match new style gu…
  .github/workflows/samples.yaml
Labels: api: bigquery, samples, size: xs

#3525 chore(deps): update dependency sdk-platform-java-config and google-cloud-bigquery-bom
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-bigquery-bom/pom.xml
  pom.xml
Labels: api: bigquery, size: s

#3534 docs: Update SimpleApp to explicitly set project id
  samples/snippets/src/main/java/com/example/bigquery/SimpleApp.java
  samples/snippets/src/test/java/com/example/bigquery/SimpleAppIT.java
Labels: api: bigquery, size: m

#3545 docs: reformat javadoc
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java
Labels: api: bigquery, size: l

#3552 fix: Update experimental methods documentation to @internalapi
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/LoadConfiguration.java
Labels: kokoro:force-run, kokoro:run, api: bigquery, size: s
