Repository googleapis/java-bigquery, pull requests merged in 2024-04, with the labels that each got.

#3232 testing: reorder test to avoid racing
  README.md
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: xs

#3234 testing: address another possible test flake
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, automerge, size: xs

#3241 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
Labels: api: bigquery, size: xs

#3246 feat: Add support for inserting Range values
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Range.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/RangeTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: l

#3238 Fix BigQuery#listDatasets to include dataset location in the response
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpc.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/BigQueryImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/spi/v2/HttpBigQueryRpcTest.java
Labels: api: bigquery, size: s

#3257 fix: Remove @InternalApi from TableResult
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableResult.java
Labels: api: bigquery, size: s

#3222 Fix: @Nullable annotations on builder methods
  README.md
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionSettings.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ReadClientConnectionConfiguration.java
Labels: api: bigquery, size: s
