Repository googleapis/java-bigquery, pull requests merged in 2024-07, with the labels that each got.

#3377 chore: remove bigquery native image sample in favor of sample in google-cloud-java
  README.md
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
  samples/native-image-sample/src/main/java/com/example/bigquery/NativeImageBigquerySample.java
  samples/native-image-sample/src/test/java/com/example/bigquery/NativeImageBigquerySampleIT.java
  samples/pom.xml
Labels: api: bigquery, samples, size: l

#3381 feat: add remaining Statement Types
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/JobStatistics.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: m

#2863 fix: null field mode inconsistency
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Field.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/FieldTest.java
Labels: api: bigquery, size: s

#3393 testing: reduce flakiness of tests
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: s

#3398 feat: Add ability to specify RetryOptions and BigQueryRetryConfig when create job and waitFor
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Job.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/spi/v2/BigQueryRpc.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/BigQueryImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/JobTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: l

#3403 chore(deps): update dependency com.google.cloud:libraries-bom to v26.43.0
  README.md
  samples/snippets/pom.xml
Labels: api: bigquery, size: xs

#3394 docs: add simple query connection read api sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/SimpleQueryConnectionReadApi.java
  samples/snippets/src/test/java/com/example/bigquery/SimpleQueryConnectionReadApiIT.java
Labels: api: bigquery, samples, size: m

#3397 docs: add short mode query sample
  README.md
  samples/snippets/src/main/java/com/example/bigquery/QueryShortMode.java
  samples/snippets/src/test/java/com/example/bigquery/QueryShortModeIT.java
Labels: api: bigquery, samples, size: m
