Repository googleapis/java-bigquery, pull requests merged in 2025-01, with the labels that each got.

#3627 fix: NPE when reading BigQueryResultSet from empty tables
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultImpl.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Connection.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/ConnectionImplTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/it/ITBigQueryTest.java
Labels: api: bigquery, size: s

#3625 fix(test): Force usage of ReadAPI
  benchmark/src/main/java/com.google.cloud.bigquery/ConnImplBenchmark.java
Labels: api: bigquery, size: s

#3644 fix: Close bq read client
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/ConnectionImpl.java
Labels: api: bigquery, size: s

#3647 feat(bigquery): Support resource tags for datasets in java client
  google-cloud-bigquery/clirr-ignored-differences.xml
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Dataset.java
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/DatasetInfo.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/DatasetInfoTest.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/DatasetTest.java
Labels: api: bigquery, size: m

#3650 feat: implement wasNull for BigQueryResultSet
  google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryResultImpl.java
  google-cloud-bigquery/src/test/java/com/google/cloud/bigquery/BigQueryResultImplTest.java
Labels: api: bigquery, size: l
